.missions {
  background-color: rgb(255, 255, 255, 0.1);
  border-radius: 30px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.9);
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(10, 1fr);
  padding: 10%;
  place-items: center;
}

h2 {
  font-size: 40px;
  font-weight: 300;
  line-height: 150%;
  text-transform: uppercase;
}
